<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${message}">asdf</p>
    <h1>Add person</h1>
    <form th:action="@{/person}"th:object="${personModel}" method="post">
        <p><input type="text"th:field="*{firstName}" placeholder="person name"/></p>
        <p><input type="text"th:field="*{lastName}" placeholder="person last name"/></p>
        <p><input type="text"th:field="*{address}" placeholder="person address"/></p>
        <p><input type="submit" value="Add Person"/></p>
    </form>
<a th:href="@{/person}">List all person</a>
</body>
</html>